.main {
  padding-top: 93px;
  padding-bottom: 98px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__content {
    flex:1 1 auto;
    padding-right: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 96px;
    text-transform: uppercase;
    color: #EEEEEE;

    & span {
      color: #00ADB5;
    }

    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__cv-button span {
    display: inline-block;
    padding-right: 34px;
    background: url('../images/download.svg') right no-repeat;
  }

  &__image {
    flex: 0 0 42.8%;
    text-align: center;

    & img {
      max-width: 100%;
    }
  }
}

@media (max-width: 1280px) {
  .main {
    padding-top: 50px;
    padding-bottom: 45px;
  }

  .main__container {
    flex-direction: column;
    align-items: stretch;
  }

  .main__content {
    padding-right: 0;
  }

  .main__title {
    text-align: center;
  }

  .main__image {
    flex: 0 0 auto;
  }

  .main__buttons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .main__title {
    font-size: 65px;
  }

  .main__title:not(:last-child) {
    margin-bottom: 25px;
  }

  .main {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

@media (max-width: 480px) {
  .main__title {
    font-size: 45px;
  }

  .main__buttons {
    gap: 10px;
    flex-direction: column;
    align-items: stretch;
  }
}

