@import '../utils/reset';
@import './header/header.scss';
@import './header-menu/header-menu.scss';
@import './footer/footer.scss';
@import './common/common.scss';
@import './main/main.scss';
@import './about/about.scss';

body {
  font-family: 'Poppins', sans-serif;
  background-color: #222831;
  color: rgba(238, 238, 238, 0.75);
  font-size: 18px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
  padding-top: 85px;
}

@media (max-width: 500px) {
  .page {
    padding-top: 73px;
  }
}

[class*="__container"] {
  max-width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}